<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="sqlexpress" connectionString="Server=.\sqlexpress;database=NHQueryRecorder;Integrated Security=SSPI;" />
    </connectionStrings>
    <appSettings>
        <add key="UseNHibernateProfiler" value="false" />
    </appSettings>
</configuration>
